/* common */
/* small screen */
/* this style is mobile first */

body {
  margin: 0;
}

.image {
  background: pink;
  height: 100px;
}

.text {
  background: gray;
  height: 100px;
}

aside {
  display: none;
}


/* @media (min-width: 0px) and (max-width: 599px) { */
  
/* }                                                */

/* @media (min-width: 600px) and (max-width: 799) { */
  
/* }                                                */

/* medium screen */
@media (min-width: 600px) {
  section {
    display: flex;
  }
  .image {
    width: 200px;
  }
  .text {
    flex: 1;
    /* flex-grow: 1; */
  }
}

/* large screen */
@media (min-width: 800px) {
  section {
    width: 800px;
    margin: 0 auto;
  }
  aside {
    display: block;
    background: plum;
    width: 160px;
  }
}
